
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

/*Hoja de estilos generales de la aplicacion para generar cosecutivos*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body{
  margin: 0;
  font-family: 'Cabin', sans-serif;
  /* background-color: #D7E1F2; */
}


/*Barra de navegación*/
.navbar {
  padding: 0.3rem;
  background-color: #009FE3;
  border-radius: 25rem;
}

.navbar-collapse {
  font-size: 1.8rem;
  align-items: center;
  justify-content: space-between;
}

.dropdown-menu li {
  font-size: 1.5rem;
}

/*Estilos generales*/
.main {
  font-size: 1rem;
  display: grid;
  align-content: center;
}

.footer {
  font-size: 1.3rem;
  margin-top: 3rem;
}

/*Adaptable responsivo*/
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}